*{
margin: 0;
padding: 0;
}
html{
  scroll-behavior: smooth;
}




h1{
 color: black; 
 font-size:xxx-large;  
}
h6{
  color: black; 
  font-size:1.1rem;  
 }

nav{
    background-color: hsl(0, 12%, 97%);
      position :fixed;
width: 90%;
height: 70px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
margin-top: 0px;
padding: 1vw 8vw;

box-shadow: 2px 2px 10px rgb(54, 51, 51);
}
nav img{
  width: 120px;
  height:100px ; 
  cursor: pointer;
   
}

nav .navigation{
  display: flex;
}
#m-b{
  width: 35px;
  height: 35px;
  display: none;
}
#c-b{
  display: none;
}

nav .navigation ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* margin-right: 40px ;   */
}

nav .navigation ul li{
list-style: none;
margin-left: 30px;
font-size: 21px;
font-weight: 500;
margin-right: 25px;
}

nav .navigation ul li a{
text-decoration: none;
color: black;

}
.jn{

  font-size: large;
  font-weight: 600;
 color: rgb(19, 4, 190);
 background-color: rgb(200, 243, 201);
  border: 2px solid rgb(201, 191, 6);
  border-spacing: 50px;
  border-radius: 10px;
  padding: 8px;
}

nav .navigation ul li .jn:hover{
  background-color: rgb(246, 246, 249);
  color: darkblue;
}
nav .navigation ul li a:hover{
    
    color: rgb(23, 155, 227);
    
    }




    #home{
background-image: url("img/back.jpg");

width: 100%;
height: 100vh;
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 10px;
/* padding: 40px; */
    }

    #home h2{
color: rgb(249, 248, 248);
font-size: 2.9rem;
letter-spacing:1px ;
font-weight: 600;
text-shadow: 4px 4px rgb(30, 2, 71);
    }

   #home p {
    width: 50%;
    color: white;
    font-size: 1.3rem;
    line-height: 25px;
    font-weight: 400;

    }

    #home a{
text-decoration: none;
font-size:1rem;
padding: 13px 35px ;
background-color: aliceblue;
font-weight: 600;
/* color: black; */
border-radius: 5px ;
    }
    #home a.bl{
      background-color: darkblue;
color: aliceblue;
transition: 0.3s ease;
    }
    #home a.bl:hover{
      background-color: rgb(243, 238, 238);
color: rgb(34, 19, 134);
    }

    #home a.yl{
      background-color: rgb(220, 206, 18);
color: aliceblue;
transition: 0.3s ease;
    }

    #home a.yl:hover{
    background-color: aliceblue;
    color: rgb(13, 13, 13);
    }





    #feature{
      padding: 3vw 8vw 0 8vw ;
      text-align: center;
    }
    /* #feature h1{
      font-size:xxx-large; */
    
    /* #feature p{
      font-size:large;
    } */

    #feature .fea-base{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(320px,1fr)) ;
      grid-gap: 1rem;
      margin-top: 50px;
    }

    #feature .fea-box{
      background-color: aliceblue;
      text-align: start;
    }

    #feature .fea-box i{
      font-size: 2.3rem;
    }
    #feature .fea-box h3{
      font-size: 1.2rem;
      font-weight: 600;
      padding: 13px 0 7px 0;
    }

    #feature .fea-box p{
      font-size: 1rem;
      font-weight: 400;
      padding: 13px 0 7px 0;
    }






#course {
  padding: 8vw 8vw 0 8vw ;
  text-align: center;
}
#course .course-base{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr)) ;
  grid-gap: 1rem;
  margin-top: 50px;

}
#course .course-box{
  text-align: start;
  background-color: rgb(210, 232, 238);
  height: 100%;
  position: relative;
}
#course .course-box img{
  width: 100%;
  height: 80%;
  background-size: cover;
  background-position: center;
}

#course .course-box .detail{
  padding: 15px 15px 0 15px;
}
#course .course-box .cost{
  background-color: rgb(16, 7, 180);
  color: aliceblue;
  line-height: 70px;
  height: 70px;
  width: 70px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  bottom: 100px;

}






#reg{
  margin: 20px;
  padding: 8vw 6vw 6vw 6vw;
  /* background-image: linear-gradient(rgba(99,112,168,0.5)); */
  background-image:url("img/signup.jpg") ;
  width: 80%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#reg .clock{
  color: #f8f6f6;
}

#reg .clock h1{
  color: hwb(243 2% 45%);
}
#reg .clock h2{
  color: hwb(133 8% 42%);
}

#reg .clock .time{
  display: flex;
  margin-top: 40px;
}

#reg .clock .time .date{
  font-size: 1.9 rem;
  font-weight: 600;
  text-align: center;
  background: rgba(186, 208, 227, 0.45) ;
  padding: 13px 33px;
  margin: 0 5px 10px 5px;
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 2px solid rgb(222, 228, 222);
}

#reg .form{
  background: #f8f6f6;
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 25%;
  height: 65%;
}
#reg .form{
  font-size: larger;
  
}
#reg .form input{
  margin:15px 0 ;
  padding: 15px 10px;
  border: 2px solid rgb(200, 214, 107);
  outline: none;
}
#reg .form .btn{
  margin-top: 30px;
  align-self: center;
  
}
#reg .form a.bl{
  text-decoration: none;
  font-size:1rem;
  padding: 13px 30px ;
  background-color: aliceblue;
  font-weight: 600;
  border-radius: 5px ;
  background-color: darkblue;
color: aliceblue;
transition: 0.3s ease;
}
#reg .form a.bl:hover{
  background-color: rgb(234, 217, 35);
color: rgb(34, 19, 134);
}






#footer {
padding: 6vw ;
background-color: rgb(18, 11, 67);
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
}

#ft-col{
  padding-bottom: 40px;
}
#footer h3{
  color: aliceblue;
  font-weight: 800;
  font-size: 23px;
  padding-bottom: 20px ;
}
#footer li{
  list-style: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: rgb(117, 114, 114);
}
#footer li:hover{
  color: aliceblue;
  transition: 0.3s ease;
}

#footer p{
color: gray;
}

#footer .yl{
margin-top: 20px;
}
#footer .suscribe a{
  text-decoration: none;
  font-size:1rem;
  padding: 12px 15px ;
  font-weight: 600;
  border-radius: 5px ;
  background-color: rgb(214, 214, 22);
color: rgb(18, 18, 19);
transition: 0.3s ease;
}
#footer .suscribe a:hover{
  background-color: rgb(243, 238, 238);
color: rgb(34, 19, 134);
}

#footer input{
width: 270px;
padding:15px 12px ;
background: rgb(161, 217, 231);
border: none;
outline: none;
margin-top: 20px;
}

#footer .cpr{
margin-top: 40px;
}
#footer .cpr p{
color: aliceblue;
font-size: larger;
}





@media (max-width:1010px) {
   /* body{
    background-color: rgb(21, 214, 50);
  }  */
  #reg{

flex-direction: column;
    justify-content: center;
    width: 80%;
  height: 49%;
    }

    #reg .form{
      padding: 20px;
      width: 35%;
      height: 30%;
      
          }

  
    #m-b{
      display: initial; 
    }
    #c-b{
      display: initial; 
      font-size: 1.9rem;
      color: #f8f6f6;
      padding: 30px 0 20px 20px;
    }

    nav .navigation ul{
      position: absolute;
      top: 0;
      right: -220px;
      width: 220px;
      background :rgba(16, 7, 180, 0.5);
      backdrop-filter: blur(5px);
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items:flex-start;
      transition: 0.3s ease;
    }
    .jn{
      padding: 5px 10px;
      background-color: rgb(212, 223, 144);
    }

    nav .navigation ul.active{
right: 0;
    }
  
    nav .navigation ul li{
padding: 20px 0 20px 40px;

    }
    nav .navigation ul li a{
      color: #f8f6f6;
}

}
